<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>상품</th>
        <th>주문고객</th>
        <th>수량</th>
        <th>가격</th>
        <th>주문상태</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order : ${ordersList}">
        <td th:text="${order.productName}"></td>
        <td th:text="${order.user.getName()}"></td>
        <td th:text="${order.qty}"></td>
        <td th:text="${order.price * order.qty}"></td>
        <td th:text="${order.state}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->

</body>
<script>
  function cancel(id) {
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/orders/" + id + "/cancel");
    document.body.appendChild(form);
    form.submit();
  }
</script>
</html>
